<div class="h-screen flex flex-col justify-center">
  <div class="flex items-center uppercase text-5xl p-4 font-vt323">
    Play <i class="ri-play-fill"></i>
  </div>
  <div class="w-full block bg-vhsYellow dark:bg-vhsPurple1 h-20"></div>
  <div class="w-full block bg-vhsOrange dark:bg-vhsPurple2 h-20"></div>
  <div class="w-full block bg-vhsRed dark:bg-vhsDarkPurple h-20"></div>
  <div class="w-full block bg-vhsMaroon dark:bg-vhsDarkBlue h-20"></div>
  <div class="w-full block bg-vhsBurgundy dark:bg-vhsBlue h-20"></div>
</div>