<header class="h-screen flex flex-col justify-center items-center">
  <div class="font-sans text-6xl uppercase font-bold text-center my-8">I am a 
    <span class="bg-gradient-to-r from-yellow-500 to-purple-500 text-transparent bg-clip-text block text-7xl">javascript developer</span>
  </div>
  <img src="./me.jpeg" class="block rounded-full w-64 my-9 border-white border-solid border px-1 py-1">
  <div class="my-8 w-96 text-center font-body">My name is Karl and I'm a Javascript developer. Most proficient in React, but love diving in and learning cool, new frameworks - backend or frontend.</div>
</header>