<div class="font-sans text-black uppercase text-7xl">VHS</div>
<div class="block bg-vhsYellow h-20"></div>
<div class="block bg-vhsOrange h-20"></div>
<div class="block bg-vhsRed h-20"></div>
<div class="block bg-vhsMaroon h-20"></div>
<div class="block bg-vhsBurgundy h-20"></div>